.nav-link{
    color: white !important;
}

.navbar{
    width: 100%;
    position: absolute;
    backdrop-filter: blur(10px);
    background-color: #1c1b1b47 !important;
    z-index: 9999;
    top: 0px;
}

.profileDiv{
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.profileDiv {
    margin: 0px;
    padding: 0px 30px 0px 0px;
}

.profileDiv img{
    object-fit: contain;
    width: 19px;
    height: 23px;
}

.navbar-nav{
    margin: 0px auto;
}

.nav-item a{
    font-size: 18px;
}

.nav-link:hover{
    color: #3CA0E7 !important;
}

.nav-item{
    padding: 0px 30px;
}

.profile-icon:hover{
    color: #3CA0E7 !important;
    cursor: pointer;
}

#home-link{
    padding-left: 0px !important;
}

#about-link{
    padding-right: 0px !important;
}

.nav-signin-link{
    padding: 0px 8px;
}